*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
}

.Name {
    font-size: 100px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Tagline {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

header {
    background-color: black;
    height: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

header a {
    color: lightgreen;
    display: inline-block;
    text-decoration: none;
    margin-right: 1%;
}

header a:hover {
    color: green;
    text-decoration: underline;
}

header a:visited {
    color: yellow;
    text-decoration: none;
}

header a:visited:hover {
    color: yellowgreen;
    text-decoration: underline;
}

.ms-store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;
}

!.mainScreenshot {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-image: url('YesserNotesImage.png');
    background-size: cover; 
    background-position: center top; 
}

h1 {
    color: white
}

h3 {
    color: white
}
