body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #eeeeee;
}

header {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

header a {
  color: lightgreen;
  display: inline-block;
  text-decoration: none;
  margin-right: 1%;
}

header a:hover {
  color: green;
  text-decoration: underline;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-top: 5px;
  margin-left: 20px;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

p {
  margin-left: 15px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}
